[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "sirius-headers-common"]
	path = external/sirius-headers-common
	url = https://github.com/SiriusUdS/sirius-headers-common
[submodule "tools/premake-ecc"]
	path = tools/premake-ecc
	url = https://github.com/MattBystrin/premake-ecc.git
[submodule "external/common-protocol"]
	path = external/common-protocol
	url = https://github.com/SiriusUds/common-protocol
